$green: #a0c800;
$lightgreen: lighten($green, 35%);
$darkgreen: #789600;
$grey: #666666;
$lightgrey1: #b4b4b4;
$lightgrey2: #d7d7d7;
$lightgrey3: #8c8c8c;
$lightgrey4: #eaeaea;
$lightgrey5: #ececec;
$lightgrey6: #eeeeee;
$lightgrey7: #f1f1f1;
$lightgreyprintpreview: #f2f2f2;
$darkgrey1: #333;
$midgrey: #999;
$midgrey2: #ccc;
$transparentgrey1: rgba(140, 140, 140, 0.5);
$blue: #dcf0ff;
$blue2: rgb(100, 153, 255);
$blue3: #6499ff;
$blue4: #063a71;
$lightblue: #ecf7ff;
$lightblue2: #c6e7ff;
$lightblue3: #def3ff;
$middleblue: #7a98d4;
$middleblue2: #9ebcfb;
$darkblue: #7998d4;
$darkblue2: #5b729f;
$darkblue3: #092a5e;
$lightkhaki: #f1f1ec;
$lightbordeaux: #ae6669;
$darkbordeaux: #824c4f;
$red: #d51317;
$yellow: #e2f48c;
$lightolive: #f2f2e3;
$lightblueDD: #f4faff;
$rosa: #ffd4ef;
$orange: #ffaa00;
$darkorange: #ff6a00;
$darkorange: #bf7f00;
$lightyellow: #fff77e;
$petrolblue: #50bec3;
$invalidred: #ffecec;
$darkblue1: #093a71;
$lightash: #faf9f8;
$lightash1: #e2e2e2;
