
<div class="col">
  <div class="title-container">
    <h6 class="page-title">SUPPLIERS</h6>
  </div>
</div>
<div class="col">
  <div class="row">
    <div class="col">
      <div class="task-cards">
        <div class="task-title">
          <a href="#"><span>CREATE New Supplier</span></a>
        </div>
        <div class="task-content">
          <i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="task-cards">
        <div class="task-title">
          <a href="#"><span>SEARCH Supplier</span></a>
        </div>
        <div class="task-content">
          <i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="task-cards">
        <div class="task-title">
          <a href="#"><span>IMPORT Compilance Data</span></a>
        </div>
        <div class="task-content">
          <i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
